:root {
    --color1:#F7E0D4;
    --color2:#FC600A;
    --color3:#347B98;
    --color4:#1489B8;
    --color5:#092834;
}

body{
    font-family: Georgia, Helvetica, sans-serif;
    font-size: 12pt;
    background-color: var(--color3);
    color: var(--color1);
    margin: 1vw 5vw;
    display: grid;
    grid-gap: 0px 50px;
    grid-template-columns: 85vw;
    grid-template-areas: "propic" "contactInfo" "objective" "section" "service" "skills" "certs" "education";
}

ul{
    color: var(--color1);
    list-style-type: none;
    margin: 2vw;
}

li {
    margin: 10px;
}

h1{
    /* font-size: pt; */
    text-align: center;
}

h3 {
    color: var(--color2);
    font-style: italic;
    font-variant: small-caps;
    text-shadow: var(--color5);
    font-size: 1.4em;
}

caption {
    font-style: italic;
    color: gray;
    letter-spacing: 1px;
    text-decoration: underline;
}

section {
    grid-area: section;
}

a:link {
    color: var(--color1);
    text-decoration: none;
}

a:hover {
    color: var(--color2);
    text-shadow: 3px 3px 5px var(--color5);
}

a:visited {
    color: var(--color1);
}

a:active {
    color: var(--color2);
    transform: size(.85%);
}

#skillsList {
    columns: 3;
}

#propic {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px rgb(34, 34, 34);
    border-radius: 500px;
    border: solid var(--color2) 3px;
    display: block;
    animation: objmove 2s linear 0s 1 normal;

}

.employerName {
    font-variant: small-caps;
    letter-spacing: 1px;
    color: var(--color1);
    list-style-type: none;
}

.positionTitle {
    font-weight: bold;
    font-style: italic;
    color: var(--color2);
    text-shadow: var(--color5);
}

.overview {
    font-weight: bold;
    text-decoration: underline;
}

.objectiveP {
    text-align: justify;
    padding: 20px;
    font-size: 1.25em;

    grid-area: objectiveP;
}

.objective {
    text-align: center;
    
}

.portfolio {
    /* one value is applied to all sides */
    margin: 14px;
    /* more than 1, first is applied to top, second is both sides, third is bottom */
    /* if 4 margin values starts with top then goes clockwise. top, right, bottom, left */
    border-collapse: separate;
    border-spacing: 7px;
    padding: 7px;
    width: 98%;
}

.portfolioHeadings {
    font-style: italic;
    font-variant: small-caps;
    color: var(--color5);
}

.portfolioCell {
    border: 1px solid var(--color2);
    vertical-align: top;
    padding: 7px;
    color: var(--color5);
}

/* .section { 
    
} */

.unorderedList {
    list-style-type: square;
}

.employment {
    border: 5px solid var(--color5);
    padding: 15px 15px;
    margin: 20px 0px;
    text-align: justify;
    box-shadow: 5px 5px 5px black;
}

#contactInfo {
    text-align: center;
    grid-area: contactInfo;
}

#name {
    margin: 1vw;
    font-size: 2em;
    letter-spacing: 3px;
    font-variant: small-caps;
    animation: move 2s linear 0s 1 normal;
}

.icon { 
    float: left;
}

.fullObjective {
    grid-area: objective;
}

.picture {
    grid-area: propic;
}

.certs {
    grid-area: certs;
}

.service {
    grid-area: service;
}

.skills {
    grid-area: skills;
}

.education {
    grid-area: education;
}

@media all and (min-width: 800px) {
    body {
        grid-template-columns: auto auto;
        grid-template-areas:
            "propic objective"
            "contactInfo objective"
            "contactInfo objective"
            "section section"
            "service service"
            "education certs"
            "skills skills";
    }


    
}

@keyframes move {
   from {transform: translate(-500px, 0px)}
    to {transform: translate(0px, 0px)}
}

@keyframes objmove {
    from {transform: translate(0px, -400px)}
     to {transform: translate(0px, 0px)}
 }