:root {
    --color1:#F7E0D4;
    --color2:#FC600A;
    --color3:#347B98;
    --color4:#1489B8;
    --color5:#092834;
}

body{
    font-family: Georgia, Helvetica, sans-serif;
    font-size: .75em;
    background-color: var(--color3);
    color: var(--color1);
    margin: 1vw 5vw;
}

ul{
    color: var(--color1);
    list-style-type: none;
    margin: 15px;
}

li {
    margin: 10px;
}

h1{
    /* font-size: pt; */
    text-align: center;
}

h3 {
    color: var(--color2);
    font-style: italic;
    font-variant: small-caps;
    text-shadow: var(--color5);
    font-size: 1.4em;
}

caption {
    font-style: italic;
    color: gray;
    letter-spacing: 1px;
    text-decoration: underline;
}

section {
    padding-right: 5vw;
    padding-left: 5vw;
}

a:link {
    color: var(--color1);
    text-decoration: none;
}

a:hover {
    color: var(--color2);
    text-shadow: 3px 3px 5px var(--color5);
}

a:visited {
    color: var(--color1);
}

#skillsList {
    columns: 3;
}

#propic {
    display: grid;
    margin-left: 2vw;
    margin-right: 2vw;
}

.employerName {
    font-variant: small-caps;
    letter-spacing: 1px;
    color: var(--color1);
    list-style-type: none;
}

.positionTitle {
    font-weight: bold;
    font-style: italic;
    color: var(--color2);
    text-shadow: var(--color5);
}

.overview {
    display: grid;
    font-weight: bold;
    text-decoration: underline;
}

.objectiveP {
    display: grid;
    margin-top: 0;
    margin-right: 0%;
    margin-left: 5%;
    text-align: justify;
    padding: 20px;
    font-size: 1.25em;
    animation: move 2s linear 0s 1 normal;
}

.profileObjective {
    display: grid;
    margin-right: 10%;
}

.objective {
    display: grid;
    margin-left: 5%;
    text-align: center;
    animation: objmove 2s linear 0s 1 normal;
}

.portfolio {
    /* one value is applied to all sides */
    margin: 14px;
    /* more than 1, first is applied to top, second is both sides, third is bottom */
    /* if 4 margin values starts with top then goes clockwise. top, right, bottom, left */
    border-collapse: separate;
    border-spacing: 7px;
    padding: 7px;
    width: 98%;
}

.portfolioHeadings {
    font-style: italic;
    font-variant: small-caps;
    color: var(--color5);
}

.portfolioCell {
    border: 1px solid var(--color2);
    vertical-align: top;
    padding: 7px;
    color: var(--color5);
}

/* .section { 
    
} */

.unorderedList {
    list-style-type: square;
}

.employment {
    border: 5px solid var(--color5);
    padding: 15px 15px;
    margin: 20px 0px;
    text-align: justify;
    box-shadow: 5px 5px 5px black;
}

#contactInfo {
    text-align: center;
}

/* #military {
    
} */

#propic {
    display: grid;
    box-shadow: 10px 10px 5px rgb(34, 34, 34);
    border-radius: 200px 200px 200px 200px;
}

#name {
    display: grid;
    margin: 1vw;
    font-size: 2em;
    letter-spacing: 3px;
    font-variant: small-caps;
}

.icon { 
    float: left;
}

@media all and (min-width: 600px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "img"
            "name"
            "contactinfo"
            "objective";
    }
}

@keyframes move {
   from {transform: translate(500px, 0px)}
    to {transform: translate(0px, 0px)}
}

@keyframes objmove {
    from {transform: translate(0px, -200px)}
     to {transform: translate(0px, 0px)}
 }